@import url(../footer/footer.css);
@import url(../container/container.css);

#footer-hero {
  max-width: 80rem;
  margin: 4.8rem auto;
  text-align: center;

  p {
    font-size: var(--paragraph-size);
    font-weight: var(--paragraph-wieght);
    line-height: var(--paragraph-line-height);
    color: var(--text-color-on-bg);
    padding: 0.4rem;
     img{
      vertical-align: middle;
     }
  }
}
