.div1 {
  border: 1px solid black;
  margin: 0 auto;
  width: 800px;
  height: 500px;

  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100px;
}

.div2 {
  background-color: red;
  padding: 1rem;
}
.div3 {
  background-color: antiquewhite;
  padding: 1rem;
}

