@import url(../global/globa.css);
@import url(../container/container.css);

.main-hero_div-img {
  text-align: center;
  padding-bottom: 2.4rem;
  img {
    width: 75.2rem;
    height: 40rem;
    object-fit: cover;
    border-radius: 1.6rem;
  }
}
#main-hero {
  max-width: 80rem;
  margin-top: 4.8rem;
  background-color: var(--surface-color);
  border-radius: 1.6rem;
  padding: 2.4rem;
}

.main-title {
  font-size: var(--headeing1-size);
  font-weight: var(--headeing1-weight);
  line-height: var(--headeing1-line-height);
  color: var(--text-color-primary);
}
.main-paragraph {
  font-size: var(--paragraph-size);
  font-weight: var(--paragraph-weigth);
  line-height: var(--paragraph-line-height);
  padding: 0.4rem 0rem;
  color: var(--text-color-secondary);
}

.section_Ingredientes {
  margin: 2.4rem 0;
}
#Ingredientes-title {
  font-size: var(--headeing2-size);
  font-weight: var(--headeing2-weight);
  line-height: var(--headeing2-line-height);
  margin-bottom: 0.4rem;
  color: var(--text-color-primary);
}
.Ingredientes_list {
  list-style-position: inside;
}
.list-item {
  font-size: var(--paragraph-size);
  line-height: var(--paragraph-line-height);
  font-weight: var(--paragraph-weigth);
  color: var(--text-color-secondary);
}

#modo-de-preparo-title {
  font-size: var(--headeing2-size);
  font-weight: var(--headeing2-weight);
  line-height: var(--headeing2-line-height);
  margin-bottom: 0.4rem;
  color: var(--text-color-primary);
}
.paragraph-preparo {
  font-size: var(--paragraph-size);
  font-weight: var(--paragraph-weigth);
  line-height: var(--paragraph-line-height);
  color: var(--text-color-secondary);
  margin-bottom: 0.4rem;
}
