@charset "UTF-8";
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*Surface Colores*/
  --background-color: #573824;
  --surface-color: #f0e8c2;
  /*Text-colors*/
  --text-color-primary: #291b1a;
  --text-color-secondary: #573a37;
  --text-color-on-bg: #f0e8c2;
  /*Typegraphy*/
  --font-family: Alice;
  --headeing1-size: 4rem;
  --headeing1-line-height: 140%;
  --headeing1-weight: Regular;

  --headeing2-size: 2.4rem;
  --headeing2-line-height: 150%;
  --headeing2-weight: Regular;

  --paragraph-size: 1.6rem;
  --paragraph-line-height: 150%;
  --paragraph-weight: Regular;
}

html{
  font-family: Alice;
  font-size: 62.5%;
}