#header-hero {
  max-width: 128rem;
  padding: 3.2rem;
  background-color: var(--surface-color);
}
.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-perfil {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.div-perfil_informations {
  width: 38.4rem;
  padding: 0.4rem;
}
#main-title {
  font-size: var(--heading1-size);
  line-height: var(--heading1-line);
  font-weight: var(--heading1-weight);
  color: var(--text-color-primary);
}
#main-paragraph {
  font-size: var(--Paragraph-sm-size);
  font-weight: var(--paragraph-sm-weight);
  line-height: var(--paragraph-sm-line);
  color: var(--text-color-secondary);
  margin-top: 0.8rem;
}

.div-list-countries {
  max-width: 28rem;
  flex: 1;
}

.div-list-countries_item {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
  gap: 0.8rem;
}

.div-list-countries_item > p {
  font-size: var(--Paragraph-sm-size);
  font-weight: var(--paragraph-sm-weight);
  line-height: var(--paragraph-sm-line);
  color: var(--text-color-secondary);

}
.div-list-countries_item > p:hover > a{
  color: var(--brand-color);
}