@import url(../global/global.css);
@import url(../container/container.css);

#nav-main {
  max-width: 128rem;
  background-color: var(--surface-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3.2rem;
}
#nav-main > a > img {
  padding: 0.4rem;
}
.nav-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 1.6rem;
}
.nav-list {
  padding: 0.4rem;
}
.nav-list > li:last-of-type {
  img {
    max-width: 4rem;
  }
}
.nav-list > li:nth-of-type(2) > a {
  font-size: var(--Paragraph-md-size);
  line-height: var(--paragraph-md-line);
  font-weight: var(--paragraph-md-weight);
  color: var(--text-color-secondary);
}

.nav-list > li:nth-of-type(3) > a {
  font-size: var(--Paragraph-md-size);
  line-height: var(--paragraph-md-line);
  font-weight: var(--paragraph-md-weight);
  color: var(--text-color-secondary);
}
.nav-list > li:nth-of-type(3) > a:hover {
  color: var(--brand-color);
}
.nav-list > li:nth-of-type(2) > a:hover {
  color: var(--brand-color);
}
